.App {
  text-align: center;
}
.body {
  width: 100%; 
  background: radial-gradient(circle at bottom right, rgb(103, 68, 206) 0%, rgb(90, 89, 168) 20%, rgb(53, 50, 116) 40%, rgb(46, 35, 113) 60%, rgb(23, 10, 78) 80%, rgb(8, 1, 36) 100%);
}

